{% extends 'adminApp/base.html' %} {% load static %}

{% block content %}
  <div class="content">
    <div class="title-info">
      <p>Dashboard</p>
      <i class="fas fa-chart-bar"></i>
    </div>
    <div class="data-info">
      <div class="box">
        <i class="fas fa-user"></i>
        <div class="data">
          <p>Verified Doctors</p>
          <span>100</span>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-user"></i>
        <div class="data">
          <p>Unverified Doctors</p>
          <span>10</span>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-user"></i>
        <div class="data">
          <p>Patients</p>
          <span>200</span>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-pen"></i>
        <div class="data">
          <p>Blogs</p>
          <span>200</span>
        </div>
      </div>

    </div>
    <div class="title-info">
      <p>RECENT CHAT</p>
      <i class="fas fa-table"></i>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>xyz</td>
          <td><span class="price">Doctor</span></td>
          <td><span class="count">INACTIVE</span></td>
        </tr>
        <tr>
          <td>tre</td>
          <td><span class="price">Doctor</span></td>
          <td><span class="count">INACTIVE</span></td>
        </tr>
        <tr>
          <td>gre</td>
          <td><span class="price">Patient</span></td>
          <td><span class="count">ACTIVE</span></td>
        </tr>
        <tr>
          <td>VVV</td>
          <td><span class="price">Patient</span></td>
          <td><span class="count">INACTIVE</span></td>
        </tr>
        <tr>
          <td>jjj</td>
          <td><span class="price">Patient</span></td>
          <td><span class="count">ACTIVE</span></td>
        </tr>
        <tr>
          <td>mmj</td>
          <td><span class="price">Doctor</span></td>
          <td><span class="count">INACTIVE</span></td>
        </tr>
        <tr>
          <td>ewd</td>
          <td><span class="price">Patient</span></td>
          <td><span class="count">INACTIVE</span></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}